{% extends 'layout.twig' %} 
{% block content %}
	<div class="main">
		<div class="container pl-5 pr-5 left">
			<h1 class="display-3 pb-4 font-weight-bold">Inscription</h1>
			<p class="lead">
				Donner Votre information pour enregister un compt sur ce site
			</p>
		</div>
		<div class="container right">
			<form action="{{ path_for('inscription') }}" method="post" autocomplete="off" >
			  <div class="form-group{{ validationerrors.username ? ' has-danger' : '' }}">
			    <label for="username" class="font-weight-bold"><i class="fas fa-user pr-2"></i>Psudo Nom</label>
			    <input name="username" type="text" class="form-control" id="username" placeholder="Psudo-nom" required>
			    {% if validationerrors.username %}
			    	<small id="passwordHelpBlock" class="form-text text-danger">
				  		{{ validationerrors.username | first }}
					</small>
			    {% endif %}
			  </div>
			  <div class="form-group{{ validationerrors.email ? ' has-danger' : '' }}">
			    <label for="exampleInputEmail1" class="font-weight-bold"><i class="fas fa-at pr-2"></i>Address Email</label>
			    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="exemple@email.com" required>
				{% if validationerrors.email %}
			    	<small id="passwordHelpBlock" class="form-text text-danger">
				  		{{ validationerrors.email | first }}
					</small>
			    {% endif %}
			  </div>
			  <div class="form-group pb-2{{ validationerrors.password ? ' has-danger' : '' }}">
			    <label for="exampleInputPassword1" class="font-weight-bold"><i class="fas fa-key pr-2"></i>Mote de pass</label>
			    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="mote de pass" aria-describedby="passwordHelpBlock" required>
				{% if validationerrors.password %}
			    	<small id="passwordHelpBlock" class="form-text text-danger">
				  		{{ validationerrors.password | first }}
					</small>
				{% else %}
					<small class="form-text text-muted">
						Mot de passe de 6 caractères ou plus
					</small>
			    {% endif %}
			  </div>
			  <button type="submit" class="btn btn-lg btn-primary btn-block my-2 "><i class="fas fa-sign-in-alt pr-2"></i>S'incrire</button>
			</form>
		</div>
	</div>
{% endblock %}